<h1>{{title}}</h1>
<h2>{{error}}</h2>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <pre class="animated fadeInUp">
        {{nuevoUsuario | json}}
      </pre>
    </div>
    <!--crear usuario-->
    <div class="col-sm-6">
      <form class="animated bounceIn" (ngSubmit)="crearUsuario(NuevoUsuarioForm)" #NuevoUsuarioForm="ngForm">
        <div class="form-group">
          <label>Usuario</label>
          <input required
                 minlength="4"
                 type="text"
                 class="form-control"
                 placeholder="Digite un nombre de Usuario como: Katha"
                 name="nombre"
                 [(ngModel)]="nuevoUsuario.nombre"
                 #nombre="ngModel"
                 #nombreElm>
        </div>
        <div class="form-group">
          <label>Preferencia</label>

          <input required
                 minlength="3"
                 type="text"
                 class="form-control"
                 placeholder="Digite una preferencia como: Mujeres"
                 name="preferencia"
                 [(ngModel)]="nuevoUsuario.preferencia"
                 #preferencia="ngModel"
                 #nombreElm>
        </div>
        <div class="form-group">
          <label>Fecha de Nacimiento:</label>
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            <input required
                   type="date"
                   class="form-control"
                   name="fechaNacimiento"
                   [(ngModel)]="nuevoUsuario.fechaNacimiento"
                   #fechaNacimiento="ngModel"
                   #nombreElm>
          </div>
        </div>
        <button [disabled]="disabledButtons.NuevoUsuarioFormSubmitButton||!NuevoUsuarioForm.valid" type="submit"
                class="btn btn-block btn-success">Crear
        </button>
      </form>
    </div>
    <div class="col-sm-6">
      <h1>{{nuevoUsuario.nombre}}</h1>
      <h3>{{nuevoUsuario.preferencia}}</h3>
      <h3>{{nuevoUsuario.fechaNacimiento}}</h3>
    </div>

<!--listar usuarios-->

  </div>
  <div class="row">
    <div class="col-sm-12 animated flipInX" *ngFor="let usuario of usuarios">
      <div class="text-center">
        <h3>{{usuario.nombre}}</h3>
        <p>ID: {{usuario.id}}</p>
      </div>
      <div class="row animated flipInY" [hidden]="!usuario.formularioCerrado">
        <div class="col-sm-5">
          <button class="btn btn-block btn-info"
                  (click)="usuario.formularioCerrado = !usuario.formularioCerrado"
          >Actualizar</button>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-5">
          <button class="btn btn-block btn-danger" (click)="borrarUsuario(usuario.id)">Borrar</button>
        </div>

      </div>
      <div class="div" [hidden]="usuario.formularioCerrado">
        <form action="">
          <form class="animated bounceIn" (ngSubmit)="actualizarUsuario(usuario)" #NuevoUsuarioForm="ngForm">
            <div class="form-group">
              <label>Usuario</label>
              <input required
                     minlength="2"
                     type="text"
                     class="form-control"
                     placeholder="Digite un nombre de Usuario como:   katha"
                     name="nombre"
                     [(ngModel)]="usuario.nombre"
                     #nombre="ngModel"
                     #nombreElm>
            </div>
            <div class="form-group">
            <label>Preferencia</label>
            <input required
                   minlength="3"
                   type="text"
                   class="form-control"
                   placeholder="Digite una preferencia como:Mujeres"
                   name="preferencia"
                   [(ngModel)]="usuario.preferencia"
                   #nombre="ngModel"
                   #nombreElm>
            </div>
            <div class="form-group">
              <label>Fecha de Nacimiento:</label>
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                <input required
                       type="date"
                       id="fechaNacimiento"
                       class="form-control"
                       name="fechaNacimiento"

                       [(ngModel)]="usuario.fechaNacimiento"
                       #fechaNacimiento="ngModel"
                       #nombreElm>
              </div>
            </div>
            <button [disabled]="disabledButtons.NuevoUsuarioFormSubmitButton||!NuevoUsuarioForm.valid" type="submit"
                    class="btn btn-block btn-success">Update
            </button>
            <button type="button"
                    class="btn btn-block btn-warning"
                    (click)="usuario.formularioCerrado = !usuario.formularioCerrado"
            >
              Cancelar
            </button>
          </form>
        </form>
      </div>

    </div>
  </div>


</div>
