  <br>
  <br>
  <h1>{{title}}</h1>
  <h2>{{error}}</h2>

  <!--Crear Agarre-->
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <form class="animated bounceIn" (ngSubmit)="crearAgarre(NuevoAgarreForm)" #NuevoAgarreForm="ngForm">
        <div class="form-group">
          <label>Agarre</label>
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input required
                   name="nombre"
                   minlength="4"
                   type="text"
                   id="nombre"
                   class="form-control"
                   placeholder="Ingrese el nombre del Agarre"
                   #nombre="ngModel"
                   [(ngModel)]="nuevoAgarre.nombre"
                   #nombreElm>
          </div>
        </div>
        <div class="form-group">
          <label>Veces:</label>
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>

            <input
                   type="number"
                   class="form-control"
                   name="veces"
                   id="veces"
                   [(ngModel)]="nuevoAgarre.veces"
                   #veces="ngModel"
                   #nombreElm>
          </div>
        </div>
        <div class="form-group">
          <label>Dinero Gastado:</label>
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>

            <input
                   type="number"
                   class="form-control"
                   name="dineroGastado"
                   id="dineroGastado"
                   [(ngModel)]="nuevoAgarre.dineroGastado"
                   #dineroGastado="ngModel"
                   #nombreElm>
          </div>
        </div>

        <div class="form-group">
          <label>Usuario:</label>
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-screenshot"></i></span>
            <select
                    class="form-control"
                    name="idUsuario"
                    [(ngModel)]="nuevoAgarre.user"
                    #idUsuario="ngModel">
              <option *ngFor="let usuario of usuarios" [value]="usuario.id">{{usuario.nombre}}</option>
            </select>

          </div>
        </div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
          <button [disabled]="disabledButtons.NuevoAgarreFormSumitButton||!NuevoAgarreForm.valid" type="submit"
                  class="btn btn-block btn-success btn-lg">
            <span class="glyphicon glyphicon-ok"></span> Crear
          </button>
        </div>
      </form>
    </div>
  </div>

  <!--Listar Agarre-->
  <h2>{{subtitle}}</h2>


  <div class="row">
    <div class="col-sm-12 animated flipInX" *ngFor="let agarre of agarres">
      <div class="text-center">
        <h3>{{agarre.nombre}}</h3>
        <h5>ID: {{agarre.id}}</h5>
        <!--<h5>Se agarro con: {{agarre.idUsuario.}} </h5>-->
        <h5>Se gasto:{{agarre.dineroGastado}}</h5>
        <h5>Se agarraron:{{agarre.veces}} veces</h5>
      </div>
      <div class="row animated flipInY" [hidden]="!agarre.formularioCerrado">
        <div class="col-sm-5">
          <button class="btn btn-block btn-info"
                  (click)="agarre.formularioCerrado = !agarre.formularioCerrado"
          >Actualizar</button>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-5">
          <button class="btn btn-block btn-danger" (click)="borrarAgarre(agarre.id)">Borrar</button>
        </div>





</div>
    </div>
  </div>
